version: 0.1

logging:
  level: 'debug'
  formatter: 'text'

tracking:
  tracking_label: 'com.example.track'

collector:
  rate: 1800

reporting: 
  mock: true
#  cmeterapi:
#    addr: 'localhost:9090'

containers: 
  embedded: true
