version: 0.1

log:
  level: 'debug'
  formatter: 'text'
#  fields:
#    customfield1: 'value'


tracking:
  label: 'com.example.track'

collector:
  rate: 5000

#reporting: 'mock'
reporting:
  http:
    url: 'http://example.org/events'
    method: 'POST'
    receipt_header: 'X-CMETER-RECEIPT'
    headers:
      x-user-header-1: 'foo'
      x-user-header-2: 'boo'

containers: 'embedded'
