version: 0.1

logging:
  level: 'debug'
  formatter: 'text'

tracking:
  tracking_label: 'com.example.track'

collector:
  rate: 1800

reporting: 'mock'
#reporting:
#  cmeterapi:
#    addr: 'localhost:9090'
#  http:
#    url: 'http://example.org/events'
#    method: 'POST'
#    receipt_header: 'X-CMETER-RECEIPT'
#    headers:
#      x-user-header-1: 'foo'
#      x-user-header-2: 'boo'

containers: 'embedded'
