version: 0.1

logging:
  level: 'debug'
  formatter: 'text'

mockapi:
  addr: 'localhost:9090'

tracking:
  tracking_label: 'com.example.track'
  key_label: 'com.example.track'

collector:
  rate: 1800

reporting: 'mock'

containers: 'embedded'
